.header{
    height: 150px;
    background: #ddd;
}
.main{
    height: 700px;
    background: rgba(0, 192, 255, 0.27);
}
.footer{
    height: 100px;
    background: #000;
}
.main > *{
    float: left;
}