@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic');
body {
	margin: 0 auto;
	color: #000;
	background: #fff;
	font: 12px/1 'Open Sans', arial, helvetica, sans-serif;
}
/* General reset */
img {
	border: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover, a:focus {
	color: #000;
	text-decoration: none;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
:focus {
	outline: none;
}

/* General settings */
.po-rel{
	position: relative;
}
.btn{
	border: 1px solid #8cc63e;
	margin: 0 15px;
	font-size: 15px;
	color: #8cc63e;
	padding: 6px 19px;

}
.btn.focus, .btn:focus, .btn:hover {
	color: #fff;
	background: #8cc63e;
	text-decoration: none;
}
.clear{
	clear: both;
}

/*HEADER*/

.header-top{
	height: 96px;
}
.header-top img{
	width: 110px;
}
.header-logo{
	padding: 13px 0 0 0;
	display: inline-block;
	float: left;
}
.header-text{
	display: inline-block;
	font-size: 15px;
	width: 300px;
	padding-top: 28px;
	margin-left: 29px;
	line-height: 1.4;
}
.header-contact{
	padding-top: 37px;
	margin-left: 63px;
}
.header-contact>ul>li{
	font-size: 19px;
}
.header-contact > ul > li+li{
	padding:0 0 0 7px;
}
.header-contact a:hover{
	color: #8cc63e;
}
.header-icons{
	padding-top: 31px;
}
.header-icons .list-inline>li{
	padding:0 0 0 0;
}
.header-icons .list-inline>li + li{
	margin-left:26px;

}
.header-icons a{
	background: url(../img/header-icons.png);
	height: 33px;
	display: inline-block;
}
.header-icons a.pad{
	background-position: -0px -99px;
	width: 23px;
}
.header-icons a.tel{
	background-position: -0px -33px;
	width: 30px;
}
.header-icons a.pad:hover{
	background-position: -0px -66px;
}
.header-icons a.tel:hover{
	background-position: -0px -0px;
}
.header-nav{
	background: #e6e6e6;
}
.header-nav ul li {
	line-height: 39px;
}
.header-nav .list-inline>li {
	padding-right: 25px;
	padding-left: 14px;
}
.header-nav ul li a{
	font-size: 15px;
	display: inline-block;
	border-bottom: 2px solid transparent;
	padding: 0 8px;
}
.header-nav ul li.active a{
	border-color: #8cc63e;
}
.header-nav ul li a:hover{
	border-color: #8cc63e;
}
.header label {
	margin-bottom: -1px;
}
.search-form .btn {
	padding: 3px 12px 2px;
	border: none;
	border-radius: 2px;
	font-size: 15px;
	color: #d0d0d0;
}
.search-form .form-control {
	border: none;
	box-shadow: none;
	height: 26px;
	padding: 3px 12px;
	border-radius: 2px;
}
.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.search-form .btn-default:hover {
	color: #8cc63e;
	background-color: #fff;
}
.search-form .btn-default:focus {
	background-color: #fff;
}
.search-form  .btn:focus {
	outline: none;
}
.search-form .input-group-btn:focus{
	outline: none;
}
.search-form .glyphicon {
	position: relative;
	top: 1px;
	right: -5px;
}
.search-form{
	width: 182px;
	margin-top: 7px;
}

/*MAIN*/
.main{
	padding: 30px 0;
}
.sidebar .sidebar-category:first-child{
	margin-bottom: 50px;
}
.sidebar-category-title{
	padding-bottom: 18px;
	border-bottom: 2px solid #8cc63e;
}
.sidebar-category-title span{
	font-size: 25px;
	color: #000;
}
.sidebar-list{
	margin-top: 25px;
}
.sidebar .panel-heading {
	padding:0;
}
.sidebar-list li + li{
	margin-top: 19px;
}
.sidebar-list li a{
	font-size: 15px;
}
.sidebar-list li a:hover{
	color: #8cc63e;
}
.catalog-item{
	border: 1px solid #e6e6e6;
	border-bottom: 0;
}
.catalog-item-title{
	padding: 10px 0 10px 18px;
	background: #f2f2f2;
	border-bottom: 1px solid #ddd;
}
.catalog-item-title span{
	font-size:  20px;
	color: #000;
}
.sidebar-category .panel-group .panel {
	border: none;
	border-bottom: 1px solid #ddd;
}
.sidebar-category .panel-group .panel+.panel {
	margin-top: 0;
}
.sidebar-category .panel-group .panel {
	border-radius: 0;
}
.sidebar-category .panel-title>a {
	color: inherit;
	display: inline-block;
	width: 100%;
	padding: 12px 16px;
}
.sidebar-category .panel-group {
	margin-bottom: 0;
}
.sidebar-category .panel-default>.panel-heading {
	background-color: #fff;
}
.sidebar-category .panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: none;
}
.sidebar-category .panel-body {
	padding: 2px 15px 15px 15px;
}
.catalog-scroll li{
	margin-left: 14px;
	padding-left: 14px;
	background: url(../img/li-dot.png) no-repeat left;
}
.catalog-scroll li a {
	font-size: 13px;
}
.catalog-scroll li + li {
	margin-top: 14px;
}
.pad-img-products{
	margin-bottom: 30px;
}
.box-products{
	margin:10px -15px 50px;
}
.item-text{
	border: 1px solid #ddd;
	border-top: none;
	height: 120px;
	padding: 11px 17px 11px 19px;
}
.content h1{
	font-size: 25px;
	margin-bottom: 25px;
}
.content .item h6{
	display: inline-block;
	height: 45px;
	font-size: 15px;
	overflow: hidden;
	line-height: 1.5;
	margin-bottom: 20px;
}
.item{
	height:255px;
	margin-bottom: 30px;
	position: relative;
}
.context-for-products{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px 30px 30px 43px;
}
.main .po-rel>a{
	font-size: 25px;
	color: #FFF;
	line-height: 1.39;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px 30px 30px 30px;
	margin: 0 15px;
}

.box-bottom{
	position: absolute;
	bottom: 25px;
	left: 42px;
}
.box-bottom span>a{
	font-size: 15px;
	background: #8cc63e;
	display: inline-block;
	margin: 5px 3px;
	color: #fff;
	padding: 7px 8px 6px;
}
.box-bottom span>a:hover{
	background: #5d9c08;
}
.item .item-a{
	position: absolute;
	display: inline-block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.item .item-a:hover {
	box-shadow: 0 3px 10px #bfbcbc;
}
.item:hover .sell{
	padding: 21px 6px;
	font-size: 30px;
}
.item-img{
	height: 135px;
	overflow: hidden;
}
.item-img img{
	width: 100%;
}
.actual-price{
	font-size: 20px;
	margin-right: 15px;
}
.old-price{
	font-size: 15px;
	color: #999;
	text-decoration:line-through;
	float: right;
	margin-top: 3px;
}
sup {
	font-size: 67%;
}
.sell{
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	background: #8cc63e;
	padding: 14px 4px;
	color: #fff;
	font-size: 20px;
}

/*FOOTER*/
.footer{
	height: 390px;
	background: #998658;
	padding-top: 40px;
	color: #fff;
}
.footer a{
	color: #FFF;
}
.footer a:hover{
	color: #8cc63e;
}
.footer>.container>.row>.col-sm-3{
	padding-left: 30px;
}
.footer span.head{
	font-size: 21px;
	margin-bottom: 23px;
	line-height: 2.4;
	display: inline-block;
}
.footer span.head>a>img{
	width: 90px;
	padding-bottom: 4px;
}
.footer ul>li>a{
	font-size: 14px;
}
.footer ul>li+li{
	margin-top: 21px;
}
.footer ul>li>span>a{
	font-size: 15px;
}
.footer ul>li>span+span{
	margin-left: 30px;
}
.footer .logo-box ul>li>a{
	margin-top: 10px;
	display: inline-block;
	line-height: 1.5;
}
/*MAIN_PAGE*/
.container.main-page{
	margin-top: 9px;
}
.example .po-rel>a{
	padding: 0;
	background: rgba(0,0,0,.5);
}
.block-1, .block-2 {
	margin-bottom: 46px;
}
.example .po-rel>a:hover{
	background: rgba(0,0,0,.1);
}
.example .po-rel>a>span{
	padding: 11px 17px 13px 17px;
	background: #8cc63e;
	font-size: 15px;
}

.example .col-sm-12 + .col-sm-12{
	margin-top: 1px;
}
/*BLOCK-2***********************************/
.block-2 .col-sm-3.pull-left>span, .block-3 .col-sm-3.pull-left>span, .block-4 .col-sm-3.pull-left>span{
	font-size: 25px;
	margin-top: 5px;
	display: inline-block;
}
.block-2 .our-production{
	height: 270px;
	text-align: center;
	padding: 20px;
	margin-top: 22px;
	border: 1px solid #e6e6e6;
}
.block-2 .our-production .our-production-img{
	height: 105px;
	margin-bottom: 9px;
}
.block-2 .our-production .name-of-production{
	width: 100%;
	height: 55px;
	font-size: 20px;
	line-height: 1.3;
	margin-bottom: 9px;
	display: inline-block;
	overflow: hidden;
}
.block-2 .our-production span{
	width: 100%;
	height: 50px;
	font-size: 15px;
	line-height: 1.5;
	display: inline-block;
	overflow: hidden;
}
.block-2 .po-rel>a {
	margin: 0;
}
.block-2 .production-img1{
	background: #f2f2f2 url("../img/bloc-2-icon-1.png") no-repeat center;
}
.block-2 .production-img2{
	background: #f2f2f2 url("../img/bloc-2-icon-2.png") no-repeat center;
}
.block-2 .production-img3{
	background: #f2f2f2 url("../img/bloc-2-icon-3.png") no-repeat center;
}
.block-2 .production-img4{
	background: #f2f2f2 url("../img/bloc-2-icon-4.png") no-repeat center;
}
.block-2 .hover-bg-img-1:hover {
	background: url("../img/bloc-2-hover-img-1.jpg");
}
.block-2 .hover-bg-img-2:hover {
	background: url("../img/bloc-2-hover-img-1.jpg");
}
.block-2 .hover-bg-img-3:hover {
	background: url("../img/bloc-2-hover-img-1.jpg");
}
.block-2 .hover-bg-img-4:hover {
	background: url("../img/bloc-2-hover-img-1.jpg");
}
.block-2 .hover-bg-img-1:hover .production-img1{
	background: #8cc63e url("../img/bloc-2-icon-1-hover.png") no-repeat center;
}
.block-2 .hover-bg-img-2:hover .production-img2{
	background: #8cc63e url("../img/bloc-2-icon-2-hover.png") no-repeat center;
}
.block-2 .hover-bg-img-3:hover .production-img3{
	background: #8cc63e url("../img/bloc-2-icon-3-hover.png") no-repeat center;
}
.block-2 .hover-bg-img-4:hover .production-img4{
	background: #8cc63e url("../img/bloc-2-icon-4-hover.png") no-repeat center;
}
.block-2 .our-production.po-rel:hover span{
	color: #fff;
}
.block-2 .our-production.po-rel:hover .our-production-img{
	border-radius: 50%;
	width: 105px;
	margin: 0 auto 9px;
}
/*BLOCK-3***********************************/
.block-3 {
	padding-bottom: 30px;
}
.block-3 h6{
	display: inline-block;
	height: 45px;
	font-size: 15px;
	overflow: hidden;
	line-height: 1.5;
	margin-bottom: 20px;
}
.item:hover h6{
	color: #68c53e;
}
.block-3 .col-sm-3.pull-left>span {
	margin-bottom: 25px;
}
/*BLOCK-4***********************************/
.block-4 {
	background: #f5f5f5;
	padding: 45px 0 55px;
}
.block-4 .col-sm-3.pull-left>span{
	margin: 6px 0 50px 0;
}
.block-4 .item {
	text-align: center;
}
.block-4 .item-text {
	border: none;
}
.block-4 .item-text h6{
	font-size: 20px;
	line-height: 1.3;
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
	height: 55px;
	overflow: hidden;
}
.block-4 .item-text span{
	font-size: 15px;
	line-height: 1.5;
	display: inline-block;
	height: 75px;
	overflow: hidden;
}
.block-4 .item-img {
	height: 130px;
	width: 130px;
	margin: 0 auto 8px;
	border: 2px solid #90bc3b;
	border-radius: 50%;
}

.block-4 .item .item-a:hover {
	box-shadow: none;
}
.block-4 .bloc4-img1{
	background: url("../img/bloc-4-img-1.png") no-repeat center;
}
.block-4 .bloc4-img2{
	background: url("../img/bloc-4-img-2.png") no-repeat center;
}
.block-4 .bloc4-img3{
	background: url("../img/bloc-4-img-3.png") no-repeat center;
}
.block-4 .bloc4-img4{
	background: url("../img/bloc-4-img-4.png") no-repeat center;
}
.block-4 .item:hover .bloc4-img1{
	background: #90bc3b url("../img/bloc-4-img-1-hover.png") no-repeat center;
}
.block-4 .item:hover .bloc4-img2{
	background: #90bc3b url("../img/bloc-4-img-2-hover.png") no-repeat center;
}
.block-4 .item:hover .bloc4-img3{
	background: #90bc3b url("../img/bloc-4-img-3-hover.png") no-repeat center;
}
.block-4 .item:hover .bloc4-img4{
	background: #90bc3b url("../img/bloc-4-img-4-hover.png") no-repeat center;
}
/*BLOC-5********************************************************/
.block-5 {
	padding: 50px 15px 28px;
}
.block-5 .col-sm-3.pull-left>span{
	font-size: 25px;
	margin-bottom:27px;
	display: inline-block;
}
.block-5 .item {
	height: 400px;
}
.block-5 .item-text {
	border: none;
	padding: 11px 0 11px;
}
.block-5 .price{
	margin: 15px 0;
}
.block-5 span.actual-price {
	font-size: 23px;
	margin-right: 15px;
}
.block-5 .item h6{
	font-size: 20px;
	line-height: 1.3;
	display: inline-block;
	height: 55px;
	overflow: hidden;
}
.block-5 .item .description{
	font-size: 15px;
	line-height: 1.5;
	margin-top: 18px;
	display: inline-block;
	height: 67px;
	overflow: hidden;
}
.block-5 .item .item-a:hover {
	box-shadow: none;
}
.block-5 .item:hover h6 {
	color: #000;
}
.block-5 .item .btn {
	margin: 20px 0 0;
	color: #ffffff;
	background: #8cc63e;
	padding: 6px 22px;
}
.block-5 .item .btn:hover {
	color: #8cc63e;
	background: #ffffff ;
}
.block-6 {
	padding: 50px 0;
	background: url("../img/bloc-6-bg.jpg") no-repeat center;
	background-size: cover;
}
.block-6 .col-sm-12.pull-left>span {
	font-size: 25px;
	margin-bottom: 50px;
	display: inline-block;
	color:#fff;
}
.block-6 select{
	border-radius: 4px;
	width: 100%;
	background: rgba(255, 255, 255, 0.4);
	border: none;
	padding: 5px 15px;
	font-size: 17px;
	color: #fff;
	margin-bottom: 30px;
}
.block-6 form span{
	font-weight: 300;
	font-size: 20px;
	color: #fff;
	margin-bottom: 28px;
	display: inline-block;
}/*SELECT*/
.block-6 .jq-selectbox{
	width: 100%;
	background: rgba(255,255,255,0.4);
	border-radius: 4px;
	margin-bottom: 30px;
	font-size: 17px;
	color: #fff;
	font-weight: 300;
}
.block-6 .jq-selectbox__select-text{
	background: url(../img/bloc6-select-icon.png) no-repeat 95%;
	padding: 9px 0 9px 18px;
}
.block-6 .opened .jq-selectbox__select-text{
	background: url(../img/bloc6-select-icon-open.png) no-repeat 95%;
}
.block-6 .jq-selectbox__dropdown{
	top: auto !important;
	width:100%;
}
.block-6 .jq-selectbox__dropdown ul{
	overflow: hidden !important;
	border-radius: 0 0 4px 4px;
}
.block-6 .dropup .jq-selectbox__dropdown ul{
	overflow: hidden !important;
	border-radius:4px 4px 0 0 ;
}
.block-6 .jq-selectbox__dropdown ul li {
	padding: 7px 0 7px 20px;
	background: rgba(255,255,255,0.93);
	color: #000;
	font-weight: 400;
	font-size: 15px;
}
.block-6 .jq-selectbox__dropdown ul li:hover {
	background: rgba(255,255,255,1);
	color: #8cc63e;

}
.block-6 .jq-selectbox__dropdown ul li.disabled{
	display: none;
}
.block-6 div.span-bot{
	margin-top: -5px;
	border-radius: 0px 0px 4px 4px;
}
.block-6 .jq-selectbox.dropdown.opened{
	border-radius:4px 4px 0 0 ;
}
.block-6 .jq-selectbox.dropup.opened{
	border-radius:0 0 4px 4px ;
}
.block-6 .result{
	display: inline-block;
	width: 100%;
	font-size: 67px;
	margin: 19px 0 43px;

}
.block-6 .btn{
	color: #fff;
	background: #8cc63e;
	margin: 0 8px;
}
.block-6 .btn:hover{
	color: #8cc63e;
	background: transparent;
}
/*BLOC-7*****************/
.block-7 {
	padding: 50px 15px 0;
}
.block-7 .col-sm-12.pull-left>span {
	font-size: 25px;
	margin-bottom: 30px;
	display: inline-block;
	color: #000;
}
.block-7 .block7-text {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 15px;
	width: 460px;
	background: rgba(0,0,0,0.6);
	padding: 50px 15px 20px 30px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
}
.block-7 .block7-text p{
	line-height: 1.4;
	margin-bottom: 35px;
}
.block-7 .block7-text li {
	padding: 8px 0;
}
.block-7 .dot{
	border-bottom: 1px dotted #fff;
	display: inline-block;
	margin: 0 1px 0 3px;
}
.block-7 .dotted-1{
	width: 43px;
}
.block-7 .dotted-2{
	width: 52px;
}
.block-7 .dotted-3{
	width: 63px;
}
.block-7 .btn {
	margin: 20px 0 0 0;
	color: #fff;
	background: #8cc63e;
}
.block-7 .btn:hover {
	margin: 20px 0 0 0;
	color: #8cc63e;
	background: transparent;
}
/*BLOC-8*********************/
.block-8 {
	padding: 50px 15px 25px;
}
.block-8 .col-sm-12.pull-left>span {
	font-size: 25px;
	margin-bottom: 30px;
	display: inline-block;
	color: #000;
}
.block-8 .bloc8-img, .block-8 .bloc8-text{
	height: 135px;
	margin-bottom: 30px;
	position: relative;
}
.block-8 .bloc8-img>a, .block-8 .bloc8-text>a{
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: inline-block;
}
.block-8 .bloc8-text span{
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 22px;
	display: inline-block;
}
.block-8 .bloc8-text p{
	font-size: 15px;
	line-height: 1.4;
}
/*BLOC-9********************************/
.block-9 {
	padding-bottom: 50px;
}
.block-9 .col-sm-12.pull-left>span {
	font-size: 25px;
	margin-bottom: 28px;
	display: inline-block;
	color: #000;
}
.block-9 .col-sm-3 span{
	display: inline-block;
	font-size: 15px;
}
.block-9 .col-sm-3 .green-text{
	background: #8cc63e;
	padding: 9px;
	margin-bottom: 22px;
}
.block-9 .col-sm-3 span.head-text{
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	margin-bottom: 19px;
	height: 75px;
	overflow: hidden;
}
.block-9 .col-sm-3 span.foot-text{
	line-height: 1.4;
	font-weight: 500;
}
/*BLOC-10**********************/
.block-10 .block-10-img {
	background: url("../img/bloc-10-bg.jpg") no-repeat center;
	background-size: cover;
}
.block-10 .col-sm-12.pull-left>span {
	font-size: 25px;
	margin-bottom: 30px;
	display: inline-block;
	color: #000;
}
.block-10 .container > .row > .col-sm-5{
	width: 472px;
	background: rgba(0,0,0,0.6);
	padding: 20px 15px 30px 30px;
}
.block-10 .block10-text {
	color: #fff;
}
.block-10 .block10-text h4{
	font-size: 25px;
	font-weight: 300;
	padding-bottom: 17px;
}
.block-10 .block10-text p {
	font-size: 15px;
	line-height: 1.5;
	padding-left: 3px;
	margin-bottom: 12px;
}
.block-10 .block10-text li {
	font-size: 20px;
	line-height: 1.8;
	font-weight: 300;
}
.block-10 .block10-text .block-10-list {
	width: 59%;
}
.block-10 .block10-text ul {
	width: 41%;
	display: inline-block;
	float: left;
	margin-bottom: 13px;
}
.block-10 .block10-text .btn{
	margin: 0;
	background: #8cc63e;
}
.block-10 .block10-text .btn:hover{
	margin: 0;
	color: #8cc63e;
	background: transparent;
}
.block-10 .block10-text a{
	color: #fff;
}
.block-10 .block10-text a.line{
	display: inline-block;
	width: 100%;
	line-height: 2.5;
	font-size: 15px;
	padding-left: 3px;
}
.block-10 .block10-text a.line:hover{
	color: #8cc63e;
}
.block-10 .gap{
	margin-bottom: 34px;
}
/*BLOCK-11*/
.block-11{
	padding: 50px 15px 30px;
}
.block-11 .col-sm-6>span {
	font-size: 25px;
	margin-bottom: 30px;
	display: inline-block;
	color: #000;
}
.block-11 * a{
	 text-align: center;
}
.block-11 .po-rel a>span{
	font-size: 20px;
	 color: #000;
	 overflow: hidden;
	 height: 235px;
	 padding-top: 200px;
	 display: inline-block;
	transition: 0.6s;
	width: 90%;
 }
.block-11 .po-rel a span.green{
	background: #8cc63e;
	color: #fff;
	margin-top: 20px;
	display: inline-block;
	padding: 5px 10px;
	width: 100%;
	text-transform: uppercase;
}
.block-11 .po-rel:hover a>span{
	color: #fff;
	padding-top: 145px;
}
.block-11 .po-rel:hover a{
	background: rgba(0,0,0,0.6);
	color: #fff;
}
.block-11 .inv-div{
	display: none;
	height: 194px;
	position: absolute;
	top: 0;
	width: 90%;
	background: url("../img/block-11-inv.png") no-repeat center;
}
.block-11 .po-rel:hover .inv-div{
	display: block;
}